@keyframes downIn {
    0% { opacity: 0;
         -webkit-transform: translateY(-50px); }
    100% { opacity: 1;
           -webkit-transform: translateX(0px); }
  }
@keyframes goIn {
    0% { opacity: 0;
         -webkit-transform: translateX(-50px); }
    100% { opacity: 1;
           -webkit-transform: translateX(0px); }
  }
@keyframes goInLeft {
    0% { opacity: 0;
         -webkit-transform: translateX(50px); }
    100% { opacity: 1;
           -webkit-transform: translateX(0px); }
  }
.downIn {
    animation: downIn 2s;
    }
.goIn {
    animation: goIn 2s;
    }
.goInLeft {
    animation: goInLeft 2s;
    }